.main-list {
   list-style: none;
}

.main-list .link {
   text-transform: uppercase;
   font-size: 18px;
   font-weight: bold;
   text-decoration: nones;
   color: #000000;
   transition: color 250ms linear;
}

.main-list .link:hover {
   color: teal;
}

.search-form {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #0070ba;
   margin-bottom: 0;
}

.form-input {
   padding: 10px;
   border-radius: 5px 0 0 5px;
   border: none;
}

.search-btn {
   padding: 10px;
   border-radius: 0 5px 5px 0;
   border: none;
   cursor: pointer;
}

.gallery {
   display: flex;
   //   height: 100%;
   flex-wrap: wrap;
   gap: 10px;
   padding: 10px 20px;
   @media screen and (max-width: 768px) {
      padding: 10px;
   }
}

.gallery a {
   color: #000000;
   text-decoration: none;
   width: calc((100% - 50px) / 6);
   @media screen and (max-width: 479px) {
      width: 100%;
   }
   @media screen and (min-width: 480px) and (max-width: 767px) {
      width: calc((100% - 20px) / 3);
   }
   @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 30px) / 4);
   }
   @media screen and (min-width: 1200px) and (max-width: 1550px) {
      width: calc((100% - 40px) / 5);
   }
}

.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.photo-card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 5px;
   overflow: hidden;
   height: 250px;
   background-color: #e8e8e8;
   @media screen and (min-width: 768px) and (max-width: 1339px) {
      height: 280px;
   }
}

.photo-card img {
   max-height: 200px;
}

.info {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 5px;
   @media screen and (min-width: 480px) and (max-width: 1339px) {
      flex-direction: column;
   }
}

.info-item {
   margin: 0;
   display: flex;
   align-items: center;
   gap: 5px;
   padding: 2px 5px;
   font-size: 12px;
   @media screen and (max-width: 479px) {
      flex-direction: column;
   }

   @media screen and (min-width: 1340px) {
      flex-direction: column;
   }
}

.load-more {
   padding: 10px;
   margin: 0 auto;
   display: block;
   background-color: #0070ba;
   color: #fff;
   border: none;
   border-radius: 5px;
}
