.header {
   padding: 10px 20px;
   @media screen and (min-width: 1040px) {
      display: flex;
      justify-content: space-between;
   }

   &__text {
      margin: 0;
      padding: 0;
      font-size: 22px;
      font-weight: 700;
      color: #1d9999;
      @media screen and (max-width: 1039px) {
         padding-bottom: 10px;
         text-align: center;
      }
   }

   &__main-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      gap: 10px;
      @media screen and (max-width: 1039px) {
         justify-content: center;
      }
      @media screen and (max-width: 378px) {
         flex-direction: column;
         margin: 0 auto;
      }

      & .link {
         display: block;
         text-align: center;
         border: 2px solid #1d9999;
         border-radius: 5px;
         padding: 5px 10px;
         text-transform: uppercase;
         text-decoration: none;
         font-size: 16px;
         font-weight: bold;
         text-decoration: nones;
         background-color: #fff;
         color: #1d9999;
         transition: color 250ms linear, background-color 250ms linear;
         @media screen and (max-width: 600px) {
            font-size: 14px;
         }
         @media screen and (max-width: 378px) {
            width: 175px;
            margin: 0 auto;
         }
      }

      & .current {
         color: #fff;
         background-color: #1d9999;
      }

      & .link:hover {
         color: #fff;
         background-color: #1d9999;
      }
   }
}

.search-form {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #0070ba;
   margin-bottom: 0;
}

.form-input {
   padding: 10px;
   border-radius: 5px 0 0 5px;
   border: none;
}

.search-btn {
   padding: 10px;
   border-radius: 0 5px 5px 0;
   border: none;
   cursor: pointer;
}

.gallery {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   padding: 10px 20px;
   @media screen and (max-width: 768px) {
      padding: 10px;
   }
}

.gallery a {
   color: #000000;
   text-decoration: none;
   width: calc((100% - 50px) / 6);
   @media screen and (max-width: 479px) {
      width: 100%;
   }
   @media screen and (min-width: 480px) and (max-width: 767px) {
      width: calc((100% - 20px) / 3);
   }
   @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 30px) / 4);
   }
   @media screen and (min-width: 1200px) and (max-width: 1550px) {
      width: calc((100% - 40px) / 5);
   }
}

.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.photo-card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 5px;
   overflow: hidden;
   height: 250px;
   background-color: #e8e8e8;
   @media screen and (min-width: 768px) and (max-width: 1339px) {
      height: 280px;
   }
}

.photo-card img {
   max-height: 200px;
}

.info {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 5px;
   @media screen and (min-width: 480px) and (max-width: 1339px) {
      flex-direction: column;
   }
}

.info-item {
   margin: 0;
   display: flex;
   align-items: center;
   gap: 5px;
   padding: 2px 5px;
   font-size: 12px;
   @media screen and (max-width: 479px) {
      flex-direction: column;
   }

   @media screen and (min-width: 1340px) {
      flex-direction: column;
   }
}

.load-more {
   cursor: pointer;
   padding: 10px;
   margin: 0 auto;
   display: block;
   background-color: #0070ba;
   color: #fff;
   border: none;
   border-radius: 5px;
}
