// .search-form{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     background-color: #0070ba;
// }

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0070ba;

    &_wrapper {}
    
    &_input {}
    
    &_btn {}
}


.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.load-more{}

.photo-card{
    border: 1px solid #000000;
    // width: calc((100% - 60px) / 5);
    padding: 10px;
}

.photo-card img{
    width: 100%;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info-item{
    display: flex;
    flex-direction: column;
}
